version: "3.8"

services:
  redis:
    image: redis:7
    container_name: redis-server
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: fastify-app
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
